{% extends "homeapp/header.html" %}
{% block content %}

{% load staticfiles %}
<center>

					<img src="{% static 'img/home.jpg' %}" class="responsive-img" style='' alt="face">

<br>
<br>
    <h2>INTRODUCTION</h2>
</center>

<p class="lead">Fitness does not only refer to being physically fit, but also refers to a person’s mental state as well. If a person is physically fit, but mentally unwell or troubled, he or she will not be able to function optimally. Mental fitness can only be achieved if your body is functioning well. You can help relax your own mind and eliminate stresses by exercising regularly and eating right.</p>
<p class="lead">Exercising does not have to be something boring and dreaded. It can be something that you enjoy that helps to increase the overall happiness in your life, as well as relieve symptoms of stress, depression and anxiety. Try to find some activities that give you pleasure, or even a buddy to do them with so that exercise is a fun and enjoyable activity (and one that you continue on a regular basis because it adds something good to your life).</p>



{% endblock %}
